{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": false,
      "importAssertions": false,
      "tsx": false,
      "decorators": true
    },
    "transform": {
        "decoratorMetadata": true,
        "legacyDecorator": true
    },
    "target": "es2018",
    "loose": false,
    "externalHelpers": true,
    "keepClassNames": false
  },
  "sourceMaps": "inline"
}
